[2019-08-15 13:56] dasmikko opened #1 "Override image tap"
Would it possible to have a way of overriding the image tap method?

I have my own image viewer screen, it would like to use.

It would be even more awesome if when tapping on an image, I could get an list of all the tweet images, if there are multiple images. :)

[2019-08-15 14:57] dasmikko commented on #1
#2 Made a pull request for this feature

[2019-08-16 08:08] kawa89 commented on #1
I've merged your code and made some fixes to it ;)
Please check https://github.com/schibsted/tweet_ui/commit/b886d7a7fd91c3187ca8d56639dacf50b5769b1a to check what I meant with `typdef`

[2019-08-16 08:08] #1 closed

[2019-08-17 06:34] dasmikko opened #4 "Add the ability to margin/padding to the different elements"
It would be pretty nice to be able to add padding and margin to the different elements in the ui.

To make it more flexible. :)

[2019-08-23 12:14] kawa89 commented on #4
Hi. Thanks for the request. I will probably won't make it more flexible for now, since my aim was to be 1-1 (or as close to 1-1) to the original https://github.com/twitter-archive/twitter-kit-android SDK.
I think you could achieve this by composing a widget yourself. Just copy-paste the code from TweetView widget and modify it.

[2019-08-23 12:14] #4 closed

[2020-01-20 03:07] daver123 opened #14 "Finding tweets that are not being rendered correctly"
This tweet is not rendered correctly. I am seeing many others like this.

{
		"created_at": "Mon Jan 20 00:45:29 +0000 2020",
		"id": 1219058331102347264,
		"id_str": "1219058331102347264",
		"full_text": "so me &amp; 4 girls at work are taking a weekend trip to Chicago this June &amp; one of them today said \u201chold on ashlyn, I meant to ask you beforehand....are you gonna do anything to get th

[2020-01-20 03:08] daver123 commented on #14
Also you be nice to have time along with the date.

[2020-02-03 13:22] kawa89 commented on #14
Nice catch. Will try to fix it ASAP ;-)

[2020-02-05 17:10] kawa89 commented on #14
Fixed in version 1.1.0 :-) I also added time to the byline (for now only 24H format).

[2020-02-05 17:10] #14 closed

[2020-02-06 21:32] daver123 commented on #14
I made this change for 12hr time since I needed it.

![image](https://user-images.githubusercontent.com/59463749/73978447-5ac36480-48fa-11ea-82b2-7762a64b243f.png)

changed tweet_vm.dart

added a createdAtTime: _createdAtTime(tweet), to the tweetvm model

and the method
   static String _createdAtTime(Tweet tweet) {
    DateFormat twitterFormat = new DateFormat("EEE MMM dd HH:mm:ss '+0000' yyyy");

[2020-02-07 13:22] kawa89 commented on #14
Nice. Will try to add some configuration for this in the next release ;-)

[2020-02-22 20:22] daver123 commented on #14
Oops I just realized even the Data displayed in your code is not correct for the users local timezone as well.

A tweet with created_at = "Sat Feb 22 04:39:00 +0000 2020" where my local timezone is -5h from this time. That means its 11:39PM on Sat Feb 21 my local time. Your code displays "Sat Feb 22"

Had to include the .toLocal() in your function to ensure the date is adjusted to my local date of

[2020-02-24 06:19] kawa89 commented on #14
👍 Will check it this week with a PR that is pending from another user ;)

[2020-03-16 15:51] ercadev opened #19 "Redesign widgets to look like the native embedded on website ones"
**Is your feature request related to a problem? Please describe.**
I want the tweets to look more natural. Showing a tweet should look like the result you get from the "embed a tweet on your website" (example picture in additional context)

**Describe the solution you'd like**
I could redesign the Widgets to look as close to the embedded version as possible

**Describe alternatives you've consider

[2020-03-17 07:16] kawa89 commented on #19
Hi @ercadev, thanks for the idea. The original idea behind this library was to be a Flutter version of https://github.com/twitter-archive/twitter-kit-android, but I agree that the UI should look more modern. If you want, please make a `TweetEmbedded()` and I will merge it and add you to the contributor's list.

You can also create modern versions for all the Tweets that we have in this library, **

[2020-03-17 07:32] ercadev commented on #19
I totally see your idea with a copy to the twitter-kit-android. I will create a PR with a `TweetEmbedded()` so that the people who want to have a highly customizable widget can the "old" ones. I was thinking about to keep the `Th`

[2020-04-05 22:58] ivanjpg opened #24 "Tweets not formatting correctly"
The tweet view has missing text, mainly the RT's. The "full_text" json field is not null. Sometimes the whole text is missing, sometimes some parts.

I think this is related with #14.

An example JSON and a screenshot are below.

Thank you.

![imagen](https://user-images.githubusercontent.com/577545/78512045-06582c00-7767-11ea-87ac-2f9791435df2.png)

[code]

[2020-04-06 07:07] kawa89 commented on #24
Thanks for the report. I will check it ASAP, but most probably on Friday.

[2020-04-10 14:14] kawa89 commented on #24
Fixed in version 2.0.0 that was just published. The explanation is in the CHANGELOG.md file (the breaking change).
BTW in the example, that you provided in this issue, there is an additional space in the `full_text` field ;)

[2020-04-10 14:14] #24 closed

[2020-04-10 14:15] kawa89 commented on #19
Version 2.0.0 is out ;) 🎉
Thanks for the help ;)

[2020-04-10 14:15] #19 closed

[2020-04-21 06:37] ivanjpg commented on #24
Hi there, I was checking and the text now appears fine. But the retweet images are always missing.

Should I open a new issue, do you need any extra info or debug output?

Thanks in advance,
Ivan

[2020-04-21 07:15] kawa89 commented on #24
Yes, If you could, please open a new issue with a screenshot of what's missing. I will look at it this Friday.

[2020-04-21 17:27] kawa89 commented on #24
@ivanjpg as I checked we never had the retweet count. You can fill a issue for a feature request, with a screenshot on how it looks on the embedded web version. Then I could implement this feature for our EmbeddedTweetView. Compact TweetView and TweetView are 1-1 (or as close to 1-1) to the Android tweet-ui library.

[2020-04-23 04:03] ivanjpg opened #29 "Retweet image display"
The retweets are not fully or correctly displayed.

I leave you here two screenshots, the first one shows the tweet_ui display and the second one the tweeter embeded version. After screenshots the paste of the JSON is present.

Thanks a lot for all the good work!

![ss01](https://user-images.githubusercontent.com/577545/80057018-42bbb400-84eb-11ea-9a39-6bdcaab5bcd0.jpg)
![ss02](https://user-images

[2020-04-23 06:35] kawa89 commented on #29
Ok, now I see. In the original []twitter-kit-android(https://github.com/twitter-archive/twitter-kit-android) library there is this method:

[code]

I will try to implement this tomorrow and release a new version ;)

[2020-04-24 12:55] kawa89 commented on #29
🎉 Retweets are now supported from version 2.1.0+1

<img width="300" src="https://user-images.githubusercontent.com/7292315/80214621-7574c200-863b-11ea-94f3-7fe9cf5656dd.png">
<img width="300" src="https://user-images.githubusercontent.com/7292315/80214628-773e8580-863b-11ea-81db-1967c6e08813.png">
<img width="300" src="https://user-images.githubusercontent.com/7292315/80214637-7ad20c80-863b-11ea-9

[2020-04-24 12:55] #29 closed

[2020-04-25 09:05] okzjapan opened #32 "Tweets are not displayed correctly in EmbededTweetView"
Thank you so much for developing a great library. I am always grateful.
I'm still a low-level developer, so let me report here.

**Describe the bug**
The following issues occur when using EmbededTweetVied.fromTweet on certain tweets
(1) Characters are garbled and the character string after the character is not read.
(2) RangeError is raised (see the following image)

**To Reproduce**
(1) https://t

[2020-04-26 08:40] kawa89 commented on #32
Hi, I will try to check it ASAP (worst case scenario May 8th).

1. EmbeddedTweetView is not as customizable as the previous two. I will try to add the same customizable options to it in a later release (June probably).
2. You should be able. I did not test this library much on iOS devices. Please fill a new bug report for this.

[2020-04-28 02:14] ivanjpg opened #33 "Video Tweets with initial volume"
The tweets with video embedded are hardcoded to start with a *0.0* volume, I found in this file:

Is there a possibility to add an option to set a default initial volume?

I think it would be possible by adding to `TweetView` class a new double property, then passing it to `MediaContainer` and finally to `TweetVideo`. At least it looks so much straight forward than add a way to access the *Chewie*

[2020-04-28 06:24] kawa89 commented on #33
Sure. I have a bug to fix on my next "window" for this library ;)
Maybe you want to make a Pull Request with those changes? ;)

[2020-04-28 15:18] ivanjpg commented on #33
Done, a Pull Request has been made: schibsted/tweet_ui#34

[2020-04-29 21:59] ayang99 commented on #32
Hi, I'm not sure if this is the same issue or not. But for this tweet: https://twitter.com/cafreeland/status/1253740824065687555
![image](https://user-images.githubusercontent.com/574742/80650930-ec96c580-8a42-11ea-9821-47ed2ab135ad.png)

Using EmbeddedTweetView.buildEmbeddedTweetView() and running from IntelliJ in an iPhone 11 Pro Max emulator :
<img width="907" alt="image" src="https://user-imag

[2020-04-30 06:31] ercadev commented on #32
@okzjapan for issue (2) can you please provide the tweet json. I don't get the same result as you.
Even though I can see we have a problem with the user name length

![Skärmavbild 2020-04-30 kl  08 30 24](https://user-images.githubusercontent.com/25930062/80679273-d7f71380-8abc-11ea-98dc-b49e6ad5666b.png)

[2020-05-06 15:55] ayang99 commented on #32
There might be some accidental whitespace artifacts as I cut/paste and formatted. This is what I'm getting prior to json.decode()

  {
    "created_at": "Fri Apr 24 17:41:20 +0000 2020",
    "id": 1253740824065687555,
    "id_str": "1253740824065687555",
    "full_text": "This #Ramadan, many Canadian Muslim groups such as @Fastinthe6 are finding creative ways to hold their annual fast-breaking eve

[2020-05-08 07:18] kawa89 commented on #32
@ercadev You are probably not on the latest tweet_ui library version. There was a breaking change from version 2.0.0 - [check the Changelog ;-)](https://github.com/schibsted/tweet_ui/blob/dev/CHANGELOG.md#200---10042020)

[2020-05-08 07:38] kawa89 commented on #32
@ayang99 Bug confirmed. Fix on the way ;)

[2020-05-08 09:42] kawa89 commented on #33
Released with version 2.2.0

[2020-05-08 09:42] #33 closed

[2020-05-08 09:56] kawa89 commented on #32
@ayang99 I could not reproduce the problem that you have. I've added a new page in the example app called `Bug Page`. There you can find the `Github #32 1st example` and `Github #32 2nd example` buttons. Also, check the JSON files `example/assets/tweet_examples/tweet_bug_gh32_1st.json` and `example/assets/tweet_examples/tweet_bug_gh32_2nd.json` which are the two Tweets that you provided. Check if

[2020-05-08 09:56] #32 closed

[2020-07-04 09:58] shanu12joshi opened #37 "How can I get the JSON object of any tweet?"
Hey, a quick question, How can I get the JSON object of any tweet?
I know this is quite a basic question but can't find :(

[2020-07-07 09:23] kawa89 commented on #37
Hi. You can use this package https://pub.dev/packages/twitter_api to make a Twitter API call. Hope it helps!

[2020-07-07 09:23] #37 closed

[2020-07-09 19:42] shanu12joshi opened #38 "Showing an error of Unable to load asset : {JSON OBject}"
How can I resolve it? I'm fetching the API data online and trying to show the Tweet.
The endpoint I'm trying to reach: "statuses/show.json
I want to display any tweet by its id without saving the JSON object in assets Folder.
![WhatsApp Image 2020-07-10 at 1 09 56 AM](https://user-images.githubusercontent.com/42548654/87083353-1aba3200-c24a-11ea-8485-822b17e27ba0.jpeg)

[2020-07-10 07:14] kawa89 commented on #38
Hi, just create the Tweet widget with our library by passing the JSON response from the API. You don't need to save it to a file.

[code]

[2020-07-10 12:20] shanu12joshi commented on #38
Ya got it, Thanks :)
I am having one more problem
The tweet I'm using to get the data is not showing the images and also not the entire text (Tweet)
TWEET URL: https://twitter.com/tehseenp/status/1281493907436498946
![WhatsApp Image 2020-07-10 at 5 48 07 PM (1)](https://user-images.githubusercontent.com/42548654/87153786-a62cd500-c2d5-11ea-9ed6-ab1e4701a951.jpeg)
 here:

[2020-07-10 15:43] kawa89 commented on #38
Try to set the `tweet_mode` to `extended`.
[code]
If this does not help paste the Jason's that you get :-)

[2020-07-12 08:08] shanu12joshi commented on #38
It worked :)
Thank you :)
Closing the issue.

[2020-07-12 08:08] #38 closed

[2020-07-13 06:40] kawa89 commented on #38
Nice ;) If you would like to contribute, you could write a wiki page on how to get your first tweet using the `twitter_api` library :)

[2020-07-13 08:46] shanu12joshi commented on #38
I'll do that for sure :)

[2020-07-18 04:27] KartikPatelOfficial opened #48 "Why full tweet not showing."
In App | In Web
------------ | -------------
<img src="https://user-images.githubusercontent.com/25227206/87844620-79cc1680-c8dc-11ea-8fe1-7519fcf153b0.jpg" alt="drawing" width="200"/>|<img src="https://user-images.githubusercontent.com/25227206/87844625-7df83400-c8dc-11ea-84ab-445c6b920e0f.jpg" alt="drawing" width="200"/>

[2020-07-18 05:00] #48 closed

[2020-07-25 09:19] shanu12joshi opened #49 "On the twitter card, for some retweets, it shows only the retweet text and not the original tweet. Original tweet just comes as a link. Can we also render the original tweet."
On APP: ![WhatsApp Image 2020-07-25 at 2 48 17 PM](https://user-images.githubusercontent.com/42548654/88453586-000ccd80-ce86-11ea-9c8b-52494df588de.jpeg)

Original: ![WhatsApp Image 2020-07-25 at 2 48 17 PM (1)](https://user-images.githubusercontent.com/42548654/88453587-01d69100-ce86-11ea-9999-a8c236c83737.jpeg)

[2020-07-27 06:49] kawa89 commented on #49
Can you provide a json example?

[2020-07-27 10:36] shanu12joshi commented on #49
Sure!
`{"created_at":"Mon Jul 27 09:42:49 +0000 2020","id":1287684862317678594,"id_str":"1287684862317678594","full_text":"RT @thoma_mr: If any other fighter said I this I\u2019d laugh but I honestly believe him\ud83d\ude02 https:\/\/t.co\/dr31Tc3LNS","truncated":false,"display_text_range":[0,108],"entities":{"hashtags":[],"symbols":[],"user_mentions":[{"screen_name":"thoma_mr","name":"Mr Thomas",

[2020-07-28 09:28] kawa89 commented on #49
Can you provide the JSON example for the screenshots in the first post? So I know what should I fix ;)

[2020-08-29 17:23] elcolie opened #50 "EmbeddedTweetView text size is too big"
**Describe the bug**
`EmbeddedTweetView` does not wrap text properly

**To Reproduce**
[code]
**Expected behavior**
Time of 3rd `TweetView` must be wrapped in the single screen NOT too big like this

**Screenshots**
![Screenshot_1598721370](https://user-images.githubusercontent.com/18206728/91642509-18a86e80-ea56-11ea-8946-4082cfc28ae4.png)

**Smartphone (please complete the following information)

[2020-08-29 18:39] elcolie commented on #50
With given example in the repository I don't see any error like this

[2020-09-01 12:30] kawa89 commented on #50
I'm on sick leave now, but will check it ASAP :)

[2020-09-15 17:12] mwolffalonso opened #51 "Question regarding actions when clicking text"
Hello, first of all congratulations, its a great plugin.
In my project i need to trigger an action (call a method, like onTap does for cards) other than opening the twitter app or web when the text is clicked. Is there anyway i can tune that behavior using your plugin?
Thanks!
Martin.

[2020-09-15 18:24] elcolie opened #52 "TweetVM does not take `favorited` from `Tweet`"
**Describe the bug**
TweetVM does not take `favorited` from `tweet`

**To Reproduce**
Use this version
[code]

**Expected behavior**
TweetVM be able to hold `favorited` in `bool` datatype. Then `EmbeddedTweetView` can be change the `Icons.favorite_border` to `Icons.favorite`

**Screenshots**
![image](https://user-images.githubusercontent.com/18206728/93249004-d9e71800-f7ba-11ea-8c25-151e6fa6a26e.p

[2020-09-17 19:33] mwolffalonso commented on #48
This happens to me but in retweeeted content, any comments?

[2020-09-18 06:26] kawa89 commented on #48
Hi @mwolffalonso , please create a new issue and provide more details, like tweet ids, screenshots (please also add how it should look properly)

[2020-09-18 06:29] kawa89 commented on #52
Hi, I will have a look at this on 25th September. If you would like, you can always prepare a Pull Request with the fix.

[2020-09-18 06:32] kawa89 commented on #51
You can always create your own tweet view, based on our classes.
I will have a look on September 25th if I can prepare something for you.

[2020-09-18 06:32] kawa89 commented on #50
Will have a look at this on September 25th.

[2020-10-09 09:32] kawa89 commented on #52
Fixed in https://github.com/schibsted/tweet_ui/pull/53
Will be available in next release.

[2020-10-09 09:32] #52 closed

[2020-10-09 09:49] kawa89 commented on #50
You miss a Scaffold widget in your widget tree.
Change the

[code]

to

[code]

I will commit this example to the repo. Look for an `EmbeddedTweetView text size is too big\nGithub #50` button in the bug page screen in the example app.

[2020-10-09 09:49] #50 closed

[2020-10-09 11:29] kawa89 commented on #49
Should be fixed since today's release 2.3.0.
Please check it and give me feedback if it works ;)

[2020-10-09 11:29] #49 closed

[2020-10-09 11:31] kawa89 commented on #51
Hi. You can do a similar implementation like it was done here (https://github.com/schibsted/tweet_ui/pull/2), when a custom onTapImage callback was added.

[2020-10-09 11:31] #51 closed

[2020-10-17 19:49] ajatsoft opened #56 "video not work in iOS"
in example code and in other projects video not  works in iOS

**Smartphone:**
 - Device: [e.g. iPhone11]
 - OS: [e.g. iOS14]

[2020-10-18 16:31] saileshbro opened #57 "Text too small in larger device"
The text displayed is too small on a tablet, can we scale it accordingly?

[2020-10-20 07:22] kawa89 commented on #56
Hi, this is going to be hard to solve for me, because I don't have an iPhone device and the video player does not work on iPhone simulators.
Can you try to fix it and contribute to this project @ajatsoft ?

[2020-10-20 07:24] kawa89 commented on #57
You could set different text styles by yourself depending on whether it's a phone or a tablet https://github.com/schibsted/tweet_ui/wiki/Colors-&-styling

If you have an idea on how to implement this in the library feel free to make a PR and contribute ;)

[2020-11-20 14:02] kawa89 commented on #56
👋  I've used another library for video in version `2.4.0`. Can you @ajatsoft check, if it works on iOS now? Thanks!

[2021-01-26 20:08] mwolffalonso opened #62 "EmbeddedTweetView with scrollable_positioned_list plugin"
**Describe the bug**
When using twitter_ui EmbeddedTweetView or TweetView in conjunction with scrollable_positioned_list plugin the scrolling function works badly (erratically)
This happens in flutter 1.22.x not in 1.20.x.

**To Reproduce**
Steps to reproduce the behavior:
1. Get a list of tweets in json format
2. pass those the tweets to the EmbeddedTweetView inside the scrollable_positioned_list

[2021-01-27 07:13] #57 closed

[2021-01-29 22:26] actainvestments opened #63 "Date Time Format bug"
The following FormatException was thrown building:
Trying to read EEE from 2021-01-29T20:23:55.000Z at position 0

 DateFormat df = new DateFormat("yyyy-MM-ddTHH:mm:ss.mmmuuuZ");
  return TweetUI.CompactTweetView.fromTweet(aTweet, createdDateDisplayFormat: df,);

And tried without a df, same thing. In your examples you are looking for:
"created_at": "Mon Nov 12 13:00:38 +0000 2018"
but the twitter

[2021-02-01 07:31] kawa89 commented on #63
Hi.
Can you send me the tweet id and what parameters/query/URL do you use to get the tweet. Thanks.

[2021-02-01 08:08] kawa89 commented on #63
I see that there is a new Twitter API version (https://developer.twitter.com/en/docs/twitter-api/data-dictionary/object-model/tweet) called V2. This library supports only version V1.1 (https://developer.twitter.com/en/docs/twitter-api/v1/data-dictionary/object-model/tweet).

I will have to probably upgrade this library to use V1.1 and V2, but that's a long-term task and I don't have so much time r

[2021-02-18 13:57] mwolffalonso commented on #62
Hello @kawa89 do you think this is a bug from this plugin or from scrollable_positioned_list?

[2021-02-26 08:33] kawa89 commented on #62
In my opinion, it's not a problem with my plugin. In your example I see this behavior:
1. The app opens
2. Click on the `Start speaking button`
3. The app scrolls to the last item 49, but in a speedy way. It looks like it doesn't build all the items when it's scrolling down, just the last ones. Maybe to be efficient in some way. Let's assume the scroll was by 400 px (if all the items were built th

[2021-02-26 08:44] kawa89 commented on #56
Finally got an iPhone device for testing. From version `2.4.0` the videos work on iOS.

[2021-02-26 08:44] #56 closed

[2021-03-26 14:07] #62 closed

[2021-05-08 19:36] NarayanasamyP commented on #63
Hi @kawa89 ,

I'm using twitter api V1.1 but I'm facing the same error. Is there any workaround for this?

The twitter API package used in my application is: https://pub.dev/packages/dart_twitter_api

The response was returned as expected in the console but not able to create an embedded view.

![image](https://user-images.githubusercontent.com/34939696/117551285-c1d24a80-b062-11eb-9a42-e6697282ee

[2021-06-15 18:17] mwolffalonso commented on #51
Hello @kawa89

I am trying to use onTapImage in an EmbeddedTweetUI, but i am having errors.
Appreciate your comments about how to use the callback, as there is no reference in the documentation.
Sorry that I am not very proficient in dart, git and flutter to solve this myself.

Thanks!
Martin.

[2021-06-15 18:52] mwolffalonso commented on #51
Figured it out sorry

onTapImage: _myFunction

void _myFunction(List<String> imageURLs, int someInt, String someString){
  //Do something with those URL's for example
}

By the way @kawa89 this does not work with the videos correct?

I find that BetterPlayer when opened in a new page does not show any "done" or "exit" button in iOS at least, so i want to customize it.

I cannot use it embedded in

[2021-06-15 18:58] mwolffalonso opened #65 "BetterPlayer colliding with textToSpeech plugin as text is being read"
**Is your feature request related to a problem? Please describe.**
I cannot use it embedded better_player in TweetView because of an AudioFocus issue i still cannot work out. It seems like BetterPlayer is colliding with the ongoing textToSpeech being read.

Thanks

**Describe the solution you'd like**
Something to avoid giving focus to better_player before the video is tapped

**Describe alternati

[2021-06-17 06:25] kawa89 commented on #65
I think this is a problem. Will try to fix it in the next release.

[2021-06-24 13:29] TamlaHtoo opened #67 "Can this plugin be used for Twitter API v2? Or is it only for v1?"
I dont know how to retrieve video from Twitter API v2's media key to display in my app. So I am considering to use this plugin. Is it usable for API v2 response?

[2021-06-24 16:22] kawa89 commented on #67
Not yet :(
But it's on my TODO list, but I can't promise any date of a release :(

[2021-06-24 16:22] #67 closed

[2021-07-05 14:15] mwolffalonso commented on #65
Hello @kawa89, related to:

"in iOS the video displays in full screen without possibility to dismiss and cannot return to my aplication."

I have added a Scaffold widget with an empty AppBar and with that I now see a navigation back button item to dismiss the fullscreen photo or video.
I have forked the repository, updated the code and made a pull request to master. Is that ok? Or should i do some

[2021-08-01 11:04] zeroregard opened #68 "Duplicate classes when compiling"
**Describe the bug**
When I import tweet_ui in pubspec.yaml and do 'flutter run', I see this error:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Checkout v2 branch at https://github.com/dasmikko/knocky/tree/v2
2. Do 'flutter run' in checked out repo

**Expected behavior**
App compiles and runs

**Smartphone (please complete the following information):**
 - Device: OnePlus 7T Pro

[2021-08-01 11:43] kawa89 commented on #68
Hi @zeroregard . Try to set your better_player version to the one that I use in my library -  `better_player: ^0.0.63` as an AdHoc solution.
I'm currently on my 2 week holiday so I won't be able to check this thoroughly. When I get back I will try to check this.

[2021-08-03 09:06] kawa89 commented on #68
@zeroregard did it help?

[2021-08-05 21:22] ndahlquist commented on #68
For me, pinning `better_player: 0.0.63` was insufficient to solve this problem. I also had to pin `video_player`:

[code]

After that, the app compiled successfully.

Any reason this library depends on both `better_player` and `video_player`? I think the root issue is that both of those libraries depend on ExoPlayer, and since `ExoPlayer` is an Android library, the dart dependency resolution is a

[2021-08-08 12:10] zeroregard commented on #68
@kawa89 unfortunately, no, it doesn't help.
I tried the above as well, in that case I get this:

[code]

[2021-09-10 20:32] ndahlquist opened #69 "Incompatible with Flutter v2.5.0"
**Describe the bug**

Flutter v2.5.0 was recently released to the stable channel. This library has some compatibility issues (looks like largely from transitive dependencies).

**To Reproduce**

When importing this library:

[code]

When attempting to build the example app:

[code]

**Expected behavior**
The library should be compatible with the latest stable channel.

**Additional context**
I wil

[2021-09-23 11:38] prilepskiy commented on #69
I'm sorry, when do you want to release this?

[2021-09-23 16:28] ndahlquist commented on #69
The PR (https://github.com/schibsted/tweet_ui/pull/71) should be ready to merge and release now. I'd suggest releasing soon, since currently, this library is not compatible with the latest stable Flutter tools. (We're using our fork, so no rush for us in particular)

[2021-09-24 22:53] ndahlquist commented on #69
@prilepskiy , until this fix is officially released, you are welcome to use our fork:

[code]

(works properly for us with Flutter 2.5.0)

[2021-09-28 13:47] #69 closed

[2021-11-03 11:59] somaria opened #73 "How to create the json file"
How can the json file be created?  Is there a url from twitter where this json file can be created?

[2021-11-03 13:37] somaria opened #74 "Running the example"
I tried running the included example and I got this error here:

/Users/admin/flutter/.pub-cache/hosted/pub.dartlang.org/visibility_detector-0.2.0/lib/src/visibility_detector_layer.dart:276:21: Error: Too many positional arguments: 1 allowed, but 2 found.
Try removing the extra positional arguments.
    super.addToScene(builder, layerOffset);

Anyone seeing similar error?

[2021-11-03 14:09] #73 closed

[2021-11-04 02:48] somaria opened #75 "How to generate the json file"
May I know how the json file tweet_1_photo.json can be generated?  Can a curl command generate it?

[2021-11-05 14:01] #75 closed

[2021-11-10 05:02] adrianab opened #76 "Displaying a list of tweets using JSON"
Hi, I'm not sure if this would be the right place to ask this here, but since I'm utilizing this library and the question coincides with using the library I guess I'll post here. I am a bit new to Flutter development and right now I am attempting to fetch a list of tweets using Flutter's HTTP library and Twitter's API endpoint, and then display the list of tweets onto a ListView widget using the t

[2021-11-18 20:55] adrianab commented on #76
Update:

Changed up some of the code and added a for loop to iterate through "data" to add each tweet onto a list of tweets, since I think the issue before was that the JSON had "data" and "meta" and all the tweet info is the "data" section. Updated code is below, however I am now facing a new issue where I get a red error screen with the message "NoSuchMethodError: 'toDouble' Dynamic call of null

[2021-11-19 14:33] kawa89 commented on #76
@adrianab
Try to use the v1 Twitter API [https://developer.twitter.com/en/docs/twitter-api/v1](https://developer.twitter.com/en/docs/twitter-api/v1)
This lib supports for now only v1 version and you are using the v2 version :(

[2021-12-02 02:32] adrianab commented on #76
Thank you! I've attempted to use a similar request but in the V1 version of the Twitter API using this code:

[code]

and I'm getting this error HTML response :

[code]

I don't know if this is the best place to ask since it is not fully about the tweet_ui library, but I was hoping you could maybe guide me in the right direction to see what I'm doing wrong. When I ran this curl command

[code]

 i

[2021-12-13 06:52] ericide commented on #74
yes ,i saw this too

[2021-12-14 08:04] CHHAILIM-ORN commented on #74
in file path ./../../development/flutter/.pub-cache/hosted/pub.dartlang.org/visibility_detector-0.2.0/lib/src/visibility_detector_layer.dart:276:11

change

@override
  void addToScene(ui.SceneBuilder builder, [Offset layerOffset = Offset.zero]) {
    _layerOffset = layerOffset;
    _scheduleUpdate();
    super.addToScene(builder, layerOffset);
  }

to

  /// See [Layer.addToScene].
  @override

[2021-12-16 15:49] emmett-deen commented on #74
I was not using this package specifically, but for me adding `visibility_detector: ^0.2.2` to my pubspec.yaml fixed the issue.

[2022-01-21 08:42] kawa89 opened #77 "Support Twitter v2 API"
### Description:
We have to add support for creating the same views, but from Twitter API v2.
We have to still support the Twitter API v1 and try to not introduce breaking changes.

### Useful URLs:

Twitter API docs:
https://developer.twitter.com/en/docs/twitter-api

Migration guide:
https://developer.twitter.com/en/docs/twitter-api/migrate/overview

[2022-01-21 08:44] kawa89 opened #78 "Enable more platforms"
1. Check what is blocking the support
2. Remove blocking packages and add support for new ones.
3. Try to enable support for:
- [ ] Web
- [ ] Mac
- [ ] Windows

[2022-01-21 09:20] kawa89 opened #79 "Update dependencies"
The project has -10 points for being not up-to-date with dependencies: https://pub.dev/packages/tweet_ui/score.

We need to update them.

[2022-01-28 08:18] kawa89 commented on #79
Done by [wszeborowskimateusz](https://github.com/wszeborowskimateusz).

[2022-01-28 08:18] #79 closed

[2022-02-15 07:12] #77 closed

[2022-02-15 09:14] wszeborowskimateusz commented on #68
@kawa89 I think video_player dependency is not used and can be removed?

[2022-02-15 09:23] wszeborowskimateusz commented on #63
@NarayanasamyP This does not look like Twitter API V1.1 response. Take a look at https://developer.twitter.com/en/docs/twitter-api/v1/data-dictionary/object-model/tweet - at especailly at `created_at` field.
![Screenshot 2022-02-15 at 10 22 48](https://user-images.githubusercontent.com/31158740/154031869-d366c5c0-adc1-44a8-b706-b914749094ab.png)

Maybe the library you use to fetch tweets modifies

[2022-02-16 09:57] YashSavsani opened #83 "Support for twitter payload V2."
Please could you provide support for the Twitter payload V2

[2022-02-16 10:23] wszeborowskimateusz commented on #83
@YashSavsani I am happy to announce that Twitter API V2 will be supported in the newest version of the package. We are planning to release a new version by the end of this week. It will be a prerelease with Twitter API V2 support.

[2022-02-16 10:27] YashSavsani commented on #83
I would like to know will the version support more than four "photos"?

[2022-02-16 10:29] wszeborowskimateusz commented on #83
Unfortunately not. You could however file a new issue for adding more than 4 photos support.

[2022-02-16 10:32] YashSavsani commented on #83
What type of content type will this version support if you could provide a list of it?

[2022-02-16 10:33] wszeborowskimateusz commented on #83
Do you mean media type content? It will support the same as it was for now, except video (as Twitter API V2 doesn't support fetching video URL).

You can see the whole code in the newest version of dev branch.

[2022-02-16 10:34] YashSavsani commented on #83
Yes.

[2022-02-16 10:44] YashSavsani commented on #83
Thanks, @wszeborowskimateusz, I appreciate your support. Looking forward to the next update.

[2022-02-17 18:27] wszeborowskimateusz commented on #78
When it comes to blocking packages I can see 2.

# `cached_network_image`
This one is tricky. On pub.dev it says that package supports android, ios and mac. It is also written that it has minimal support for web. I don't see any info about Linux or Windows. When I was searching Issues I found this - https://github.com/Baseflow/flutter_cached_network_image/issues/707 - it says that Windows should a

[2022-02-18 13:18] wszeborowskimateusz commented on #83
@YashSavsani the version is published

[2022-02-18 13:19] wszeborowskimateusz commented on #83
https://pub.dev/packages/tweet_ui/versions/4.0.0-dev.0

[2022-02-18 13:21] #83 closed

[2022-02-18 13:26] wszeborowskimateusz commented on #63
@NarayanasamyP Could you please check if `dart_twitter_api` package doesn't do anything with this date? Maybe under the hood it parses it to DateTime (maybe this code: https://github.com/robertodoering/twitter_api/blob/master/lib/src/utils/date_utils.dart)?

Our library requires pure JSON from API without any modifications.

We use the following format in our lib `DateFormat("EEE MMM dd HH:mm:ss '

[2022-02-18 13:28] wszeborowskimateusz commented on #76
We have just published a new, awesome prerelease version - https://pub.dev/packages/tweet_ui/versions/4.0.0-dev.0. You can check it out and give us your feedback.

[2022-03-11 01:30] jpcodr opened #89 "Can't display a single tweet"
I'm trying to display a tweet obtained with [Tweets Lookup](https://developer.twitter.com/en/docs/twitter-api/tweets/lookup/api-reference/get-tweets-id#Optional)

[code]

but an error is thrown:
`type '_InternalLinkedHashMap<String, dynamic>' is not a subtype of type 'List<dynamic>' in type cast`

The error it's clear, but how to display correctly a tweet obtained from that endpoint? The data fiel

[2022-03-13 16:33] cahyowhy commented on #76
Hi @wszeborowskimateusz thanks for great package
btw i tried to use version `4.0.0-dev.0` and fetch user timeline tweets.
But somehow in the widget only displaying one

<img width="361" alt="image" src="https://user-images.githubusercontent.com/18083469/158069385-cc0c3d50-54fc-4ce3-a6a9-5ad62d857743.png">

This is my code
<img width="670" alt="image" src="https://user-images.githubusercontent.com/

[2022-03-13 16:42] wszeborowskimateusz commented on #76
What exactly you want to achieve @cahyowhy ?

With this library you can display one tweet. Maybe you could try having a list view with EmbededTweetView widgets for each user tweet?

[2022-03-13 16:46] wszeborowskimateusz commented on #76
If you pass a list of tweets in the controller - the library will just pick the first one
![Screenshot 2022-03-13 at 17 46 18](https://user-images.githubusercontent.com/31158740/158069980-ee610027-99b9-458a-ad2c-5b627a10a426.png)

[2022-03-14 07:38] mateusz-wszeborowski commented on #89
Could you share with us  an examplar tweet dto that causes such error? @jpcodr

[2022-03-14 12:53] cahyowhy commented on #76
I see, noted then
Thanks for the clarification @wszeborowskimateusz

[2022-03-14 19:16] jpcodr commented on #89
Hi @mateusz-wszeborowski thanks for the response.

I'm using a simply `Map<String, dynamic>` (encoded with `jsonEncoder`). This is an example of the tweet response I'm getting from Twitter API:

[code]

[2022-03-15 07:38] wszeborowskimateusz commented on #89
Hmm, this is strange. I would expect a list in `data` field as it is shown in tweet examples - https://developer.twitter.com/en/docs/twitter-api/data-dictionary/example-payloads

![Screenshot 2022-03-15 at 08 38 30](https://user-images.githubusercontent.com/31158740/158329155-22354315-cde3-4591-a188-1faffda1dc84.png)

[2022-03-15 13:38] cahyowhy commented on #76
thou seems v2 still doesn't support for retweeted tweets yah
![image](https://user-images.githubusercontent.com/18083469/158389921-79532cdc-25f6-492b-9db9-9f51c635195a.png)

[2022-03-15 16:27] jpcodr commented on #89
Hi @wszeborowskimateusz

Yeah i know, but when I retrieve a single tweet by id using this [endpoint](https://developer.twitter.com/en/docs/twitter-api/tweets/lookup/api-reference/get-tweets-id) the response has an object instead a list.

[2022-03-15 17:49] wszeborowskimateusz commented on #76
What do you mean exactly @cahyowhy? Could you show some example input with current output and description of the expected output?

[2022-03-15 17:58] wszeborowskimateusz commented on #89
I see, I will try to prepare a version of the library that can handle such a case.

[2022-03-15 18:43] jpcodr commented on #89
That's great!

Thank you!

[2022-03-16 12:14] cahyowhy commented on #76
Hi @wszeborowskimateusz sorry for late replied
This is the expected output
![image](https://user-images.githubusercontent.com/18083469/158586936-171f3ff2-a35c-474d-a03e-a39fe10094d7.png)

This is the [json tweet](https://gist.github.com/cahyowhy/a83500b3a42d0e61653bcb305ddde3b2) i used to render the embeded tweet above.

Althou i already tried to use this repo example [retweet.json](https://github

[2022-03-16 13:54] wszeborowskimateusz commented on #76
Yeah, I see the problem, will try to tackle it in the next release

[2022-03-21 16:14] wszeborowskimateusz commented on #76
Hello - just uploaded version [4.0.0-dev.1] - please check if you still have a problem there.

[2022-03-21 16:14] #76 closed

[2022-03-21 16:14] wszeborowskimateusz commented on #76
@cahyowhy

[2022-03-21 16:14] wszeborowskimateusz commented on #89
Hello - just uploaded version [4.0.0-dev.1] - please check if you still have a problem there.

@jpcodr

[2022-03-21 16:14] #89 closed

[2022-03-30 07:44] prilepskiy commented on #68
Hello!

I have duplicate classes error with latest versions of video_player (2.3.0) in tweet_ui (3.0.1) after upgrading flutter to 2.10 and upgrading dependencies in my project:

[code]

How I can fix that?

[2022-03-30 14:18] wszeborowskimateusz commented on #68
Also soon, we should get rid of better_player (in this https://github.com/schibsted/tweet_ui/issues/78 issue when we gonna introduce web support).

[2022-04-01 21:45] jpcodr opened #95 "Tweet with video doesn't show the video"
**Describe the bug**
Hi

I'm using `tweet_video.json`  from the example folder. The tweet renders fine but the video is not displayed even with a clean project. This occurs with both versions `3.0.1` and `4.0.0-dev-1` but the behavior is a little different.
`3.0.1` After load video, `CircularProgressIndicator` is removed you can press play and other actions, the video is playing but the screen rem

[2022-04-02 08:28] wszeborowskimateusz commented on #95
Have you tried on real ios device @jpcodr? As written in the Readme

[2022-04-04 00:50] jpcodr commented on #95
HI @wszeborowskimateusz

Where is it written?

Yes

[2022-04-04 06:27] wszeborowskimateusz commented on #95
OK, as I see it is written in the README of example folder. Maybe this should be written in the main README? WDYT @kawa89 ?

[2022-04-04 06:49] kawa89 commented on #95
@wszeborowskimateusz I Think it should be in the main readme :)

[2022-04-04 06:51] wszeborowskimateusz commented on #95
OK, I added this comment in this PR - https://github.com/schibsted/tweet_ui/pull/84

[2022-04-04 20:06] jpcodr commented on #95
@wszeborowskimateusz

I confirm that it works on emulator and android device as well as on iOS device. That notice should definitely be on main Readme.

Also it's a bit weird that the videos are not displayed in the simulator. I'm using the video_player plugin to display other videos in my app and works well in the simulator

[2022-04-07 12:20] robertmrobo opened #99 "Add the option to show the 'reply_count' on a tweet widget."
Next to the likes/favourites count, I would like to show also how many replies does a tweet have.

I added the functionality on my local fork and it is ready for submission as a PR if this feature can be a welcomed addition.

The option to show the replies count is optional.

[2022-04-07 12:57] wszeborowskimateusz commented on #99
Thanks for your contribution @robertmrobo . If you want us to add this to our plugin, please issue a pull request with your changes so that we can review it and merge it.

[2022-04-09 08:39] wszeborowskimateusz commented on #68
@prilepskiy Could you try on the newest version - 4.0.0?

[2022-04-10 07:11] #99 closed

[2022-04-17 05:15] gadgetreviews commented on #37
twitter_api package is too old, not updated for last 2 years and not null safety compliant. Is there any newer and null safety compliant version of this package?

Thanks

[2022-04-17 08:25] gadgetreviews opened #103 "type 'Null' is not a subtype of type 'double'"
**Describe the bug**
When I try to read a tweet I get type 'Null' is not a subtype of type 'double' error

**To Reproduce**
[code]
**Expected behavior**
I expected the tweet widget to be displayed

**Screenshots**

**Smartphone (please complete the following information):**
 - Device: Android emulator
 - OS: Android 10
 - Version: 4.0.1

**Additional context**
When I look at json comes from  dart_

[2022-04-17 08:31] wszeborowskimateusz commented on #103
This might be the problem. Could you send a whole json that you use to display the tweet?

[2022-04-17 08:34] wszeborowskimateusz commented on #37
Hello. I am not so sure. But I think you can always call twitter API directly using dart http client.

[2022-04-17 08:34] gadgetreviews commented on #103
Thanks for quick reply. Would you please give me some advice how to get full json? Because when I try to print at android console, I can see the first 1000 characters. How can I get all of them? Thanks

[2022-04-17 08:35] wszeborowskimateusz commented on #103
Maybe you could use a debugger and copy value from there?

[2022-04-17 08:39] gadgetreviews commented on #103
This is what I can get with pretty json. I hope this will help.
[code]

[2022-04-17 08:50] gadgetreviews commented on #103
Updated previous message. And it shows full json now.

[2022-04-17 09:13] wszeborowskimateusz commented on #103
OK, I see a couple of problem with this tweet response:
- id is missing - previously I checked it wrongly - it is required
- created at has wrong format - according to the docs it should be
![Screenshot 2022-04-17 at 11 09 07](https://user-images.githubusercontent.com/31158740/163708080-190e5281-1432-45fb-99c0-7cc0525b89ef.png)

Btw @kawa89 regarding first point - as I see we only use id to check

[2022-04-17 09:20] gadgetreviews commented on #103
So dart_tweeter_api package send incorrect json response?

[2022-04-17 09:24] wszeborowskimateusz commented on #103
As I was looking at their code I found out they do some converts with the created_at field - I think they change the format of it.

Have a look at - https://github.com/robertodoering/twitter_api/blob/master/lib/src/utils/date_utils.dart

As I see in their tweet object they also don't fetch the **id** parameter.

[2022-04-17 09:26] wszeborowskimateusz commented on #103
I think their package is more for getting and parsing tweet info into Dart objects. In our package we need original jsons.

[2022-04-17 09:28] gadgetreviews commented on #103
So, what should I do?

[2022-04-17 09:29] wszeborowskimateusz commented on #103
Maybe you could try calling twitter API directly not through the package?

[2022-04-17 09:30] wszeborowskimateusz commented on #103
Or you might try to ask dart_twitter_api authors to add possibility to return raw json

[2022-04-17 09:30] gadgetreviews commented on #103
I don't know how to authenticate. I tried with http with headers. But I don't know header format with authenticate for twitter api 1.1. There is no doc in twitter dev docs. it explains only curl, not http headers.

[2022-04-17 09:32] wszeborowskimateusz commented on #103
Maybe you could have a look at this class? https://github.com/robertodoering/twitter_api/blob/master/lib/api/twitter_client.dart

[2022-04-17 10:29] gadgetreviews commented on #103
I solved by using twitter_api package. So this is not a bug of twitter_ui package. Thanks for help.

[2022-04-17 10:29] #103 closed

[2022-04-27 19:10] jpcodr commented on #95
@kawa89 @wszeborowskimateusz

I think this issue can be closed.

Also, i have a question. I don't know where to do it cause is not an issue. Is there any way to autoplay the videos?

[2022-04-28 09:58] wszeborowskimateusz commented on #95
As I see there is no such option currently. You can file a feature request so we can add it.

[2022-04-28 20:42] jpcodr opened #105 "Autoplay videos"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
 A way to be able to play the videos automatically, through a configuration parameter, maybe `autoplayVideos: true|false`. Also, it'd be great if the video autoplays when visible on the screen. Something like [this](https://pub.dev/packages/inview_notifier_list)

[2022-04-28 20:43] jpcodr commented on #95
Thank you @wszeborowskimateusz.

I created the feature request #105

[2022-04-30 11:17] #95 closed

[2022-05-28 08:23] #105 closed

[2022-05-28 08:29] wszeborowskimateusz commented on #105
@jpcodr changes are deployed in version 4.0.2

[2022-05-30 17:31] jpcodr commented on #105
@wszeborowskimateusz Thank you

[2022-06-20 05:22] myConsciousness opened #109 "The data field is an array, but only one TweetView is generated"
Hi amazing developers,

I tried this library with [twitter_api_v2](https://pub.dev/packages/twitter_api_v2), but it did not work as expected. As the title says, I passed JSON to the constructor in a format where data is an array, but it seems that only one TweetView was generated and the rest were ignored.

My expectation was that a TweetView would be generated like a ListView for the number of it

[2022-06-20 08:16] #109 closed

[2022-06-25 03:00] myConsciousness opened #110 "Should be fixed deprecated method"
- 'canLaunch' is deprecated and shouldn't be used. Use canLaunchUrl instead.
- 'launch' is deprecated and shouldn't be used. Use launchUrl instead.

[2022-08-06 11:17] #110 closed

[2022-10-01 11:01] SergeBerwert commented on #78
would love windows support. it's helpful to develop apps on windows even if that run later mostly on android. it speeds up development.